databases:
  - name: schedule_app_db
    databaseName: schedule_app_db
    user: schedule-app-backend
    region: Oregon (US West)

services:
  - type: web
    name: schedule-app-backend
    env: ruby
    region: Oregon (US West)
    plan: free
    buildCommand: "bundle install"
    startCommand: "bundle exec rails db:migrate && bundle exec puma -t 5:5 -p ${PORT:-3000} -e ${RACK_ENV:-development}"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: schedule_app_db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
